<div class="row">
  <div class="col-md-6">
    <table class="table table-striped">

      <tr>
        <td>Before starting</td>
        <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr>
        <td>8:15 am</td>
        <td> <b>Setup help (if needed)</b>
        </td>
      </tr>
      <tr>
        <td>9:00 am</td>
        <td>Introduction to workshop and review of Geospatial Concepts
        </td>
      </tr>
      <tr>
        <td>9:30 am</td>
        <td>Re-introduction to Python</td>
      </tr>
      <tr>
        <td> 10:45 am</td>
        <td><b>Morning Tea</b></td>
      </tr>
      <tr>
        <td> 11:00 am</td>
        <td>Downloading & visualising Satellite Data with Python</td>
      </tr>
      <tr>
        <td>12:15 pm</td>
        <td><b>Lunch (provided)</b></td>
      </tr>
      <tr>
        <td>1:00 pm</td>
        <td>Masking and processing Satellite data with Python</td>
      </tr>
      <tr>
        <td>2:15 pm</td>
        <td><b>Afternoon Tea</b></td>
      </tr>
      <tr>
        <td>2:30 pm</td>
        <td>Automation </td>
      </tr>
      <tr>
        <td>3:20pm</td>
        <td>Parallelism and Custom Raster Calculations</td>
      </tr>
      <tr>
        <td>4:30 pm </td>
        <td><b>Wrap-up and End</b></td>
      </tr>
    </table>
  </div>

</div>